@model IEnumerable<RejestOsob.Models.LostPerson>

@{
    ViewBag.Title = "Index";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "cos1",
        LoadingElementId = "cos2",
        LoadingElementDuration = 1000,
        Confirm = "realizujesz zadanie",
        Url = Url.Action("GetFruDate")
    };
}






<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Ajax.BeginForm(ajax))
{
    @Html.DropDownList("GenderSelected", new SelectList(ViewBag.data, "Id", "Name"))
    <button type="submit">dawaj</button>
}















<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LostPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender1.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender1.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPerson }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdPerson }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdPerson })
            </td>
        </tr>
    }

</table>
